<!DOCTYPE html>
<html>
<head>
	<title>Quil Labs Chat Application</title>
	<script type="text/javascript" src="/scripts/vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/scripts/vendor/socket.io/node_modules/socket.io-client/socket.io.js"></script>
	<script type="text/javascript" src="/scripts/js/chat.js"></script>
	<link href="/styles/css/chat.css" rel="stylesheet"></script>
</head>
<body>
	<div class="main-container">
		<div class="top-bar">Quil Labs Chat Application Demo</div>
		<div class="app-body">
			<div class="left-container">
				<div class="online-chat-title title">ONLINE</div>
				<div class="online-chat-people mid-body" id="online-people"></div>
				<div class="online-chat-count btm-bar"></div>
			</div>
			<div class="right-container chat-list">
				<div class="chat-messages-title title">MESSAGES</div>
				<div class="chat-messages-container mid-body" id="chat-container">
				</div>
				<div class="chat-enter-message btm-bar">
					<form>
						<div class="chat-input-message">
							<input type="text" name="" placeholder="Enter message">
						</div>
						<div class="chat-hit-enter">
							SEND
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal">
		<div class="expect-user-name">
			<input type="text" placeholder="Enter your name">
			<br/>
			<span>Press ENTER</span>
		</div>
	</div>
</body>
</html>